body {
  background-color: gray;
}
h1 {
  color: white;
  font-family: Times New Roman;
  font-size: 20px;
  text-align: center;

}
p {
  font-family: Times New Roman;
  font-size: 20px;
  text-align: center;
}